# env name example
# .env.development.local
# .env.production.local

#GRPC
GRPC_HOST=0.0.0.0
GRPC_PORT=50052

AUTH_GRPC_URL=auth-service:50051

#DB
DB_HOST=pg
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=123
DB_NAME=kovryzhko_clinic_users
